
:root {
    --rich-black: #0d1321ff;
    --dark-caviar: #303030;
    --prussian-blue: #1d2d44ff;
    --paynes-gray: #3e5c76ff;
    --very-light-blue: #e5e7eb;
    --white-cream: #fefffd;

    --persuan-orange: #c58c6d;
    --ash-gray: #b7b7a4;
    --reseda: #6b705c;
    --dark-gray:  #222;
    
    --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.2);
    --shadow-medium: 0 2px 6px rgba(0, 0, 0, 0.5);
    --shadow-strong: 0 0 30px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 95%;
    margin: 0 auto; 
    padding: 1rem;
    justify-self: center;
}

body {
    background-color: var(--white-cream);
    color: var(--dark-caviar);
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem; 
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400; 
}
h1, h2, h3, h4, h5, h6
 {
  font-family: "Lora", Georgia, serif;
  font-weight: 600;
}
nav,
.my-statement p,
.about-me,
.about-me-purpose,
#tutor-form, 
.skills-in-motion p
{
  box-shadow: var(--shadow-medium);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: relative;
    background: linear-gradient(135deg, var(--paynes-gray), var(--prussian-blue));
    box-shadow: var(--shadow-strong);
    color: var(--white-cream);
    padding: 1rem;
}
.logo {
    height: 40px;
    width: auto;
}
header span {
    font-size: clamp(1rem, 4vw, 1.5rem); 
    font-weight: 200;
    font-style: italic;
    transform: scaleY(2.5);
    letter-spacing: .55rem;
    text-shadow:#303030 7px 7px 10px;
}
.hamburger {
    background: none;
    border: none;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
    color: var(--white-cream);
}
.hamburger::before {
    content: "☰";
}
.hamburger.open::before {
    content: "✕";
    color: var(--persuan-orange);
}
nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}
nav.open {
    display: block;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: .8rem 10px;
    background-color: var(--very-light-blue);
    color: var(--rich-black);
    font-size: clamp(1.2rem, 2vmin, 1.2rem);
    transition: .5s; 
    text-decoration: none;
    border-bottom: solid 1px var(--ash-gray);
    width: 100%;
    position: relative;
    z-index: 1;
}

nav a:hover,
.social a:hover
 {
    background-color: var(--white-cream);
    color: var(--rich-black);
}
nav li.current {
    text-decoration: underline;
    color: var(--rich-black); 
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--paynes-gray);
    color: var(--white-cream);
    box-shadow: var(--shadow-strong);
    padding: 1rem;
}
.social, 
.social a,
.copywrite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-blue);
    color: var(--rich-black);
    padding: .5rem 0;
}
.social a {
    width: 44px;
    height: 44px;
    border-radius: 4px;
}
.social img {
    width: 24px;
    height: 24px;
}

.hero {
    color: var(--white-cream);
    margin-top: 2rem;
    text-align: center;
}
#profile .hero {
    padding: 1.5rem;
}

.hero h1 {
    font-size: clamp(1rem, 4vw, 1.5rem); 
    font-weight: 200; 
    font-style: italic;  
    transform: scaleY(2); 
    letter-spacing: .15rem;
    flex: 1;
    white-space: nowrap; 
} 
#profile .hero,
.hero h1
{
    background-color: var(--prussian-blue);
}
.hero img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 300px;
    height: auto;
}
.hero a,
button[type="submit"],
#close-btn {
    font-weight: 600;
    padding: .5rem;
    cursor: pointer;
    border-radius: 8px;
}
.hero a,
button[type="submit"] {
    display: block;
    max-width: max-content;
    justify-self: center;
    text-decoration: none;
    background-color: var(--paynes-gray);
    color: var(--white-cream);
}
.hero a:hover,
button[type="submit"]:hover,
#close-btn:hover
 {
    background-color: var(--persuan-orange);
    color: var(--white-cream);
}

#sidebar-message {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border: solid 1px var(--border-light);
    border-radius: 8px;
    background-color:#3b543d;
    color: var(--white-cream);
    padding: 0 8px;
    margin: 1rem 0; 
    max-width: fit-content;
    
    animation: slideIn 1s ease-out forwards;    
}
@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
    }
}
#message-text {
    font-size: 1rem;
    text-align: center;
}
#close-btn {
    color: black;
    background-color: #999;
}

.my-statement h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
}
.my-statement p {
    margin: 0 1rem;
    margin-bottom: 3rem;
    border-style: groove;
    padding: 8px;
}





