
/* 38rem x 16 = 608px....these rules begin at 608px */
@media only screen and (min-width: 38rem) {

    /* The teacher says this is kinda standard... 
    setting the header, main, nav and footer to a max width 900px
    and margin 0, auto*/
    /* header, main, nav, footer {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 0 1rem;
    } */
    /* Because we are going to not have the hamburger button
    We should change the grid-template-columns: to only 2 colums; */
    header {
        display: grid;
        grid-template-columns: 24px 1fr auto;
        justify-content: center;
        /* max-width: 1200px; */
        margin: 0 auto;
    }
    header span {
        font-size: 1.5rem;
    }
    header img {
        padding-bottom: 10px;
    }
    /* on the larger view, we Do NOT want the Hamburger to show */
    .hamburger {
        display: none;
    }

    /* On the larger screen we need the navigation to stay turned on
    so set the display to block */
    .navigation {
        display: block;
        /* You have to change the position to get it with the header
        and not below it */
        position:static;
        justify-self: end;
        align-items: end;
    }
    /* on larger view, we want the navigation to display left to right
    and we will set that on the parent element .navigation ul and display to 
    flex because that defaults as left to right */
    .navigation ul {
        display: flex;        
    }

    /* remove the border on the navigation links - the easiest fix 
    so there isn't a short line below the links while there is a long
    line above */

    /* OR if you want the line, keep this the same and go back up to the
    .navigation and set border-bottom: solid 1px #eee; */
    .navigation a {
        border: none;
        padding-left: 20px;
        font-weight: 600;
        font-size: 1.1rem;
    }


     /* -------------------- HOME PAGE - EVENT & WEATHER SECTION -------------------------------- */
    .content-boxes 
    /* #cards  */
    {
        display: grid;
        /* flex-direction: row; */
        /* LARGER SCREENS -this line will make all the children the same height */
        align-items: stretch;
    }

    .content-boxes {
        grid-template-columns: 2fr 1fr 1fr;

    }
    #cards {
        /* display: flex; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
        gap: 1rem;
    }

    
  
  

/* ---------------------GRID/LIST Menu buttons bar---------------- */
    /* This .menu targets the style of the grid/list toggle button bar */
    .menu {
        display: block;
        margin: 1rem auto;
        padding: 0.5rem;
        background-color: #333;
        text-align: center;
    }
    
    .menu button {
        padding: 0.5rem 1rem;
        font-weight: 700;
    }
    /* --------------------------------------------*/
    /* #cards is the container so this is where we put the grid column sizing*/
    article.grid #cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

   

    /* ------------------------------------------- */
    /* LIST VIEW ON LARGER SCREENS */
    /* to change the list view so that the image is NOT displayed
    target the .list (because this option is for list view), 
    target section (because we are targeting the section inside the cards
    target img (because we are telling img to display: none */

    article.list #cards section {
        display: grid;
        /* flex-direction: row; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
        /* gap: 1rem; */
        /* padding: 1rem; */
        border: 1px solid #ccc;
    }

    article.list #cards section > * {
    /*This means the same as the 3 lines below  */
    /* article.list #cards section h3,
    article.list #cards section p,
    article.list #cards section a */
    
        justify-self: start; /* left-align each column's content */
    }

    /* Hides images inside section */
    .list section img {
        display: none;
    }

    .list section h3 {
        font-size: 1rem;
    } 

    .list section:nth-child(even) {
        background-color: #eee;
    }
   /* ---------JOIN PAGE MEMBERSHIP LEVEL MODAL CARDS--------------- */
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4rem;
    }
    form {
        flex: 1;
        min-width: 450px;
    }
    #modals {
        flex: 1;
        min-width: 450px;
        gap: 2rem;
        margin-top: 3rem;
        margin-right: 1.5rem;
    }

    /* -------------------- DISCOVER PAGE - GRID AREAS -------------------------------- */

    #allPlaces div {
        /* THIS PART IS FOR GRID AREAS */
        grid-template-areas:
         /*set the names of the elements on the card in ""quotes and
         type in the order you want displayed on the page
         Then go to each element like #allPlaces div h2 and tell it to
         sit at the top of the card with grid-area: name;  */
        "photograph name"
        "photograph description"
        "photograph location";
    }
    #allPlaces div img {
        /* Add this line if all the images are still not sitting even with each other */
        width: 300px;
    }
    #allPlaces div:hover {
        /* hover effect */
        box-shadow: 0 0 50px #333;
    }


    aside #sidebar-message {
        max-width: 425px;
    }
    /* --------------------------------------------------- */
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* text-align: left; */
  }

}