/* ============ MOBILE VIEWS ================ */

/* ========================== 
   Root Variables - Colors
   ========================== */
:root {
    --rich-black: #0d1321ff;
    --dark-caviar: #303030;
    --prussian-blue: #1d2d44ff;
    --paynes-gray: #3e5c76ff;
    --very-light-blue: #e5e7eb;
    --white-cream: #fefffd;

/* OTHER COLORS MAYBE LATER? */
    --persuan-orange: #c58c6d;
    --ash-gray: #b7b7a4;
    --reseda: #6b705c;
    --reseda-copy: #c3c6ba;
    --reseda-copy-light: #e8edd9;
    --dark-gray:  #222;
}

/* ========================== 
   Global Reset
   ========================== */
* {
    /* Set margin and padding to 0 and box-sizing: border-box;
    This clears everything to the edge of the page and you can 
    individually set elements as needed */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================== 
   Base Styles
   ========================== */
/* wrapper limits content width and centers it */
.wrapper {
    max-width: 95%;
    margin: 0 auto; 
    padding: 1rem;
    justify-self: center;
}
header, 
footer {
    background-color: var(--paynes-gray);
    color: var(--white-cream);
    box-shadow: 0 0 30px gray;
    align-items: center;
    justify-content: center;
} 
body {
    background-color: var(--white-cream);
    color: var(--dark-caviar);
    /* font-family: "Lora", serif; */
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem; 
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400; 
}


/* BEGIN HEADER SECTION  */
 
/* display the header as flex and place the .logo, h1 and .hamburger*/
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: relative;
}
/* -------------------------
   Header -> logo (img)
   ------------------------*/
.logo {
    height: 40px;
    width: auto;
}

/* -------------------------
   Header -> h1 (site title)
   ------------------------*/
h1 {
    /* font-family: "Lora", sans-serif; */
    font-size: clamp(1rem, 4vw, 1.5rem); /* Responsive font size */
    font-weight: 200;
    /* font-weight: 700; */
    font-style: italic;
    /* scaleY will make the font text TALLER */
    transform: scaleY(2.5);
    letter-spacing: .55rem;
    color: var(--white-cream);
    text-shadow:#303030 7px 7px 10px;
    flex: 1;
    white-space: nowrap;
    padding: 0 1rem;
}

/* -------------------------
   Header -> .hamburger (button)
   ------------------------*/
.hamburger {
    background: none;
    border: none;
    /* set a width and height to 3rem
    this ensures 48px square CLICKABLE AREA 
    (you can set the font size of the icon in the ::before, and .open::before*/
    width: 3rem;
    height: 3rem;
    /* use display flex along with the align-items and justify-content:  
    to center the icon inside its box */
    display: flex;
    align-items: center;
    justify-content: center;
    /* add a cursor so that when a person hovers over the icon the mouse 
    will change to a pointer */
    cursor: pointer;
}
.hamburger::before {
    content: "☰";
    /* content: "\2630"; */
    /* control icon size here */
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--white-cream);
}
.hamburger.open::before {
    content: "✕";
    /* content: "\00D7"; */
    color: var(--persuan-orange);
    font-size: 1.6rem;
    font-weight: 700;
}

/* -------------------------
   Header -> .navigation 
   ------------------------*/
   /* turn off - when we don't want to display the navigation, display: none; */
.navigation {
    display: none;
    /* Take nav out of grid so it can span full width
    DON'T FORGET TO PUT THIS BACK IN THE HEADER ON LARGER SCREEN 
    BY POSITION: STATIC */
    position: absolute;
    /* Sit the nav right under the header */
    /* top: 100%; */
    /* left: 0; */
    width: 100%;
    /* background-color: var(--very-light-blue); */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
/* If the navigation isn't opening properly, make sure 
the js click event is the same word...They both have to say the same 
Either "open*(in js) and .open(in css) or "show" and .show */
.navigation.open {
    display: block;
    position: absolute;
}
.navigation ul {
    /* Remove bullets with list-style-type: none; */
    list-style-type: none;
    /* Unordered lists come with margin and padding, so we need to 
    fix that by setting those to 0 */
    margin: 0;
    padding: 0;
}
.navigation li {
    margin: 0;
}
.navigation a {
    /* change these anchors from inline to block 
    block makes the link take up the whole line*/
    display: block;
    /* Next we need at least 44px tall of padding:
    -the first number will be top and bottom
    -you can start with .5rem and then INSPECT
    and hover on the link line and see the measurements
    at .5rem with this Josefin Sans font, the size is
    454 x 34.4 (which means it needs to be bigger)
    at .8rem the size is 
    454 x 43.98 (which is good enough and meets minimun
    standard of 44px tall)

    Now we want the links to line up on the Left with the logo
    So use the same LEFT & RIGHT padding as the logo image above
    Go to the Header to see the left and right padding (its set to 10px) */
    padding: .8rem 10px;
    /* padding: 1rem; */
    background-color: var(--white-cream);
    background-color: var(--very-light-blue);
    color: var(--persuan-orange);
    color: var(--rich-black);
    font-size: clamp(1rem, 2vmin, 1.2rem);
    font-family: "Lora",Georgia, serif;
    transition: .5s; /*USE THIS IF YOU HOVER over a link: Background color changes and Font Size increases
    The transition: .5s; makes that happen gradually, giving a smooth, polished effect*/
    /* Remove the underline  */
    text-decoration: none;
    /* give a visual separation between the links with a light gray line
    using the same standard used in the header */
    border-bottom: solid 1px #ddd;
    width: 100%;
    position: relative;
    z-index: 1;
}
/* WAYFINDING   
- HTML Remember to put the class="current" on the link specific to the 
current page...in this case Dedicated Temples 
    
/* We also want to change color when a user hovers over a link to 
see which link they can click on (use color in color scheme)*/
.navigation a:hover,
.navigation a:active {
    background-color: var(--white-cream);
    color: var(--rich-black);
    font-size: 1.5rem;
    font-weight: 600; 
}
/* - CSS:  we want to make the current page highlighted in some way 
so the user knows which page they're on..in this case we are 
underlining the current page*/
.navigation li.current {
    text-decoration: underline;
    color: var(--rich-black); 
}

/* END HEADER SECTION */

/* BEGIN FOOTER SECTION  */
footer {
    text-align: center;
    padding: 1rem 10px;
}
footer .social,
footer .copywrite {
    text-align: center;
    background-color: var(--very-light-blue);
    color: var(--rich-black);
    padding: .5rem;
}
 
/* -------------------------
   Footer -> .social, .copywrite
   ------------------------*/
.social {
    /* display all the child items - a hrefs - flex left to right */
    display: flex;
    /* Once you have centered .social a(centering the image inside its box,
        THEN come back here and 
    justify-content: center; all the children as a package on the page */
    justify-content: center;
    /* with the red dashes you can see the boxes touching...give them gap padding */
    column-gap: 8px;
    padding: 10px;
}
.social a {
    /* start with this display block and then turn off */
    /* display: block; */
    /* now change it to display: flex;  so we can center images in the border box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* icons need to be bigger - a minimun 44px for touchscreen(apple standard) */
    width: 44px;
    height: 44px;
    /* Start with border red and dashed to help visualize where everything sits
    THEN when everything is done for this section TURN OFF and change to light gray */
    /* border: red dashed 1px; */
    border: #ccc solid 1px;
    /* you can leave boxes as is or give them some curve */
    border-radius: 4px;
}
.social img {
    /* Make the actual icon images in the boxes a little larger */
    width: 24px;
    height: 24px;
}
.social a:hover {
    /* change the color on the links when user hovers mouse over */
    background-color: var(--white-cream);
}

/* -------------------------
    Footer -> #lastModified
    ------------------------*/
#lastModified {
    font-size: 1rem;
}

/* END FOOTER SECTION   */


/* BEGIN HOME.HTML PAGE SECTION  */

.hero {
    background-color: var(--prussian-blue);
    color: var(--white-cream);
    margin-top: 2rem;
}
.profile .hero {
    margin-top: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.catch-phrase {
    font-family: "Lora", Georgia, serif;
    /* Responsive font size */
    font-size: clamp(1rem, 4vw, 1.5rem); 
    font-weight: 200; 
    font-style: italic;  
    /* scaleY will make the font text TALLER */ 
    transform: scaleY(2); 
    letter-spacing: .15rem;
    text-align: center;
    background-color: var(--prussian-blue);
    color: var(--white-cream);
    flex: 1;
    white-space: nowrap; 
} 
.hero img {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    width: 300px;
    height: auto;
}
/* This is my "See My Skills Button Link */
.hero a {
    display: block;
    max-width: max-content;
    justify-self: center;
    font-weight: 600;
    text-decoration: none;
    padding: .5rem;
    border-radius: 8px;
    background-color: var(--paynes-gray);
    color: var(--white-cream);
}
.hero a:hover {
    background-color: var(--persuan-orange);
    color: var(--white-cream);
    padding: .5rem;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

/* --------------------ASIDE for date and visits------- */

aside #sidebar-message {
    display: inline-block;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 8px;
    background-color:#3b543d;
    color: var(--white-cream);
    padding: 8px;
    margin-top: 1rem;
    
}
aside #message-text {
    font-size: 1rem;
    padding: 10px; 
}
aside #close-btn {
    /* color: #3b543d; */
    color: black;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    /* background: transparent; */
    background-color: #999;
    padding: 8px;
    /* margin-bottom: 8px; */
    cursor: pointer;
}
aside #close-btn:hover {
    background-color: var(--persuan-orange);
}

.sidebar {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
    }
}
/* ---------------------------------------------- */
/* This is my "Web Developer  section heading*/
.my-statement h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
}
.my-statement p {
    margin: 0 1rem;
    margin-bottom: 3rem;
    justify-self: center;
    border-style: groove;
    padding: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

/* END HOME.HTML PAGE SECTION  */

/* BEGIN ABOUT.HTML SECTION  */
 
/* -------------------------
   .about-me 
   ------------------------*/

.background-purpose .hero {
    margin-bottom: 2rem;
}
.about-me,
.about-me-purpose {
    background-color: var(--very-light-blue);
    border: solid 2px #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.about-me h3, 
.about-me-purpose h3 {
    font-size: 1.5rem;
}
   /* -------------------------
   courses
   ------------------------*/
.background-purpose .courses {
    margin-bottom: 1rem;
}
.courses h3 {
    background-color: var(--prussian-blue);
    color: var(--white-cream);
}
.course-filter-nav {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    /* Remove bullets with list-style-type: none; */
    list-style-type: none;
    /* Unordered lists come with margin and padding, so we need to 
    fix that by setting those to 0 */
    margin: 0;
    padding: 0;
    column-gap: 8px;
}
.course-filter-nav a {
    /* change these anchors from inline to block */
    display: block;
    text-align: center;
    background-color: var(--very-light-blue);
    color: var(--rich-black);
    text-decoration: none;
    border: solid 2px #ddd;
    /* border-bottom: solid 1px #ddd; */
    border-radius: 6px;
    padding: .5rem 10px;

}
.course-filter-nav li {
    flex: 1;
    margin-bottom: 8px;
}
.course-filter-nav a:hover {
    background-color: var(--persuan-orange);
}

.coursesContainer section {
    display: flex;
    justify-content: center;
    color: var(--white-cream);
    gap: 8px;
    margin-bottom: 4px;
    padding: 8px;
}
.coursesContainer section.completed {
    background-color: var(--prussian-blue);
    color: var(--white-cream);
    border: solid 1px #ccc;
}
.coursesContainer section.not-completed {
    background-color: var(--persuan-orange);
    color: var(--rich-black);
    font-weight: 600;
    border: solid 1px #ccc;
}


/* END ABOUT.HTML PAGE SECTION  */

/* BEGIN SKILLS.HTML MODAL section */
/* -------------------------
   This section is the Heading of my Skills page
   ------------------------*/
.skills-in-motion {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.skills-in-motion p {
    margin: 1rem;
    /* font-size: 1.2rem; */
    border: solid 1px #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
    /* background-color: var(--persuan-orange); */
    background-color: var(--white-cream);
    font-weight: 400;   

}


/* -------------------------
   This #modals section is the tile with the title and "learn more" labels
   ------------------------*/
#modals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}
/* -------------------------
   #modals container Heading (JavaScript Functionality)
   ------------------------*/
#modals h3,
.weather h3,
.tech-jobs h3 
{
    background-color: var(--very-light-blue);
    background-color: var(--paynes-gray);
    color: var(--prussian-blue);
    color: var(--white-cream);
    margin-bottom: 0; 
    text-align: center;
    font-family: "Lora", serif;
    font-size: 1.5rem;
   font-size: clamp(1.5rem, 4vw, 2rem); 
} 

#modals p,
.weather p,
.tech-jobs p {
    margin-bottom: .5rem;
    padding: 0 1rem;
    /* font-size: 1.2rem; */
}
 /* -------------------------
   Individual #modals .instruction-card
   ------------------------*/
.instruction-card {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* this line for some reason reduces the left/right padding on the learn more button */
    align-items: center;
    /* this line gives a gap between each card */
    margin-bottom: .75rem;
}
 /* -------------------------
   Individual #modals .instruction-card title for list tile
   ------------------------*/
.instruction-card h4 {
    font-size: 1.2rem;
}
 /* -------------------------
   Individual #modals .instruction-card "Learn More" button
   ------------------------*/
.instruction-card .learn-more {
    background-color: var(--white-cream);
    margin: 0 auto;
    padding: 4px;
    border: solid 1px #333;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
 /* -------------------------
   Individual #modals .instruction-card hover effect for button
   ------------------------*/
.instruction-card .learn-more:hover {
    background-color: var(--persuan-orange);
    color: var(--rich-black);
    /* color: var(--white-cream); */
    font-weight: 500;
}

 /* -------------------------
   Individual #modals -> #mydialog - this is the POP-UP dialog card
   ------------------------*/
#mydialog {
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}
/* display flex so h3 and x button are on top row when modal pops up */
.dialog-header {
    display: flex;
    justify-content: space-between;
    /* this line helps the X box not be so tall */
    align-items: center;
    /* this gives a light line to separate the heading from the information below */
    border-bottom: solid 1px #ccc;
}
 /* -------------------------
   Individual #modals -> #mydialog - header title
   ------------------------*/
.dialog-header h4 {
    font-size: 1.2rem;
    color: #3b543d;
    color: var(--persuan-orange);
}
/* modal dialog button */
.dialog-header button {
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2px 6px;
    margin: 0px 0px .5rem;
}
#components ul {
    margin-left: 1rem;    
}
 /* -------------------------
   Individual #modals -> fadeSlideIn ANIMATION for each .instruction-card
   ------------------------*/
.instruction-card {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeSlideIn .8s ease-out forwards;
}
    /* Stagger each card so they animate one after another */
    /* ***BECAUSE THE FIRST 2 CHILDREN IN .MEMBERSHIP-LEVEL-CARD ARE: 
    <H4> AND <DIALOG>, WE ARE STARTING WITH #3 FOR NTH-CHILD(3) */
    .instruction-card:nth-child(3) { animation-delay: 0.1s; }
    .instruction-card:nth-child(4) { animation-delay: 0.3s; }
    .instruction-card:nth-child(5) { animation-delay: 0.5s; }
    .instruction-card:nth-child(6) { animation-delay: 0.7s; }
    .instruction-card:nth-child(7) { animation-delay: 0.9s; }
    .instruction-card:nth-child(8) { animation-delay: 0.11s; }
    .instruction-card:nth-child(9) { animation-delay: 0.13s; }
    .instruction-card:nth-child(10) { animation-delay: 0.15s; }

    @keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
        }
    }
/* END SKILLS.HTML MODAL SECTION   */

/* BEGIN SKILLS.HTML WEATHER SECTION */

/* These are the title headings for the weather box cards */
.current-weather h4, 
.forecast-weather h4 
{
    font-size: 1.2rem;
    font-weight: 700;   
    background-color: var(--persuan-orange);
    color: var(--rich-black);
    background-color: var(--prussian-blue);
    color: var(--white-cream);
    border-bottom: solid 1px #ccc;
    width: 100%;
    padding: 4px;
}
.current-weather, 
.forecast-weather
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #eee;
    border: solid 1px #333;
    border-radius: 4px;
    margin-bottom: .75rem;
}
.current-weather img {
    display: block;
    margin: 0 auto;
    /* width: 100%; */
    width: 60px;
    height: 60px;
}
/* make the weather description and temp range font bigger, 
transform the description text to capitalize the first letter of each word */
#description,
.temp-range {
    font-size: 1.2rem;
    text-transform: capitalize;
} 
.temp-current {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
    /* width: 100%; */
    color: #3b543d;
    color: var(--prussian-blue);
}  
.temp-range {
    display: flex;
    column-gap: 2rem;
    padding-bottom: 8px;
}
/* Forecast Weather Card */

/* display flex in a column each of the children(.forecast-day) in this box  
also give them some gap space, padding and width: 100% so 
they will span across the full width of the box */
.forecast-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    width: 100%;
}
/* .forecast-day is a parent with children - date?, temp-main, description */
.forecast-day
    {
    /* give equal width per day */
    /* flex: 1; */
    background-color: white;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    padding: .5rem;
}



/* Skills page Tech Job Cards Section  */

.tech-jobs-description {
    margin-bottom: 1rem;
}
/*menu GRID/LIST is display none for mobile view...but turned on in LARGER SCREEN  */
.menu {
    display: none;
}
    /* GRID VIEW */
article.grid #cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: stretch;
    place-items: stretch;
    padding-bottom: 3rem;
}

article.grid #cards section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    border: solid 1px #333;
    background-color: #eee;
    width: 100%;
    height: 100%;
}
/* Applies to all direct children of section inside .grid */
article.grid #cards section > * {
    margin: .3rem 0;
}
   article.grid #cards section img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
        border: 1px solid #fff;
        box-shadow: 4px 4px 20px #303030;
        border-radius: 5px;
        background-color: var(--paynes-gray);
    }
    article.grid #cards section h3 {
        font-size: 1.5rem;
        line-height: 1.6rem;
        padding-top: .3rem;
    }